target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log

# IntelliJ IDEA / Eclipse / IDEs
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# Mac / Windows OS files
.DS_Store
Thumbs.db
